<br>
<div class="jumbotron">
    <h1 class="display-4">Congo You Found a Candidate!</h1>
    <p class="lead">Just enter the email of the candidate so that we could notify him</p>
    <hr class="my-4">
    <p><b>Don't worry we won't spam</b></p>
    <input type="text" class="form-control" placeholder="Enter candidate's email here" aria-label="Username" aria-describedby="basic-addon1"> <br><br>
    <a class="btn btn-primary " href="#" role="button">Learn more</a>{{"  "}}
    <button class="btn btn-success" (click)="del()">Submit</button>
    <button class="btn btn-primary" (click)="back()"  >Back</button>
  </div>